<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835655002649-vje8r6t4kqsanubdnfinbrr79aq4tstr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835655002649-vje8r6t4kqsanubdnfinbrr79aq4tstr</string>
	<key>API_KEY</key>
	<string>AIzaSyDVS1pXKWGAHeXbQ81YBz78nWZZ8hGlUKg</string>
	<key>GCM_SENDER_ID</key>
	<string>835655002649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.emotionvideo</string>
	<key>PROJECT_ID</key>
	<string>detection-d5540</string>
	<key>STORAGE_BUCKET</key>
	<string>detection-d5540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835655002649:ios:fc76d58d50534965</string>
	<key>DATABASE_URL</key>
	<string>https://detection-d5540.firebaseio.com</string>
</dict>
</plist>